@charset "UTF-8";

body{
    background-color: rgb(184, 142, 64);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;           
}
h1 {
   color: rgb(0, 0, 0); 
}
h2{
    background-color: rgb(199, 47, 47);
}
p{
    text-align: justify;
}